*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', arial, sans-serif;	
	color: #000;

	background-color: #fff;
}

a {
	text-align: center;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.button {
    display: inline-block;
    padding: 10px 10px;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	background-color: #EE3643;
	border: none;
	border-radius: 3px;
}

.new-flag::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;

	width: 60px;
	height: 60px;

	background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-item.new-flag::after {
	top: -1px;
	right: -1px;
}

.button:hover,
.button:focus {
	background-color: #CA2C37;
}

.button:active {
	background-color: #BA2732;
}

.main-header {
	padding-bottom: 60px;

	background: url("../img/background-top.jpg") #F3F7F8 repeat;
}

.main-header ul {
	list-style: none;
}

.header-up {
	margin-bottom: 46px;

	line-height: 18px;
	font-size: 17px;

	background-color: #293449;
}

.header-up .container {
	display: flex;
	justify-content: space-between;
}

.main-logo {
	position: relative;

	display: block;

	box-shadow: 0 5px 0 0 #891F26;
	background-color: #ee3643;
}

.main-logo img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1;

	margin: auto;
}

.main-logo:hover,
.main-logo:focus {
	background-color: #CA2C37;
}

.main-logo:active {
	background-color: #BA2732;
}

.header-logo {
	width: 220px;
	height: 42px;
}

.header-logo img {
	width: 110px;
	height: 17px;
}

.search {
	position: relative;

	width: 270px;
}

.search	svg {
	position: absolute;
	top: 12px;
	left: 16px;

	opacity: 0.5;
}

.search input {
	width: 100%;
	height: 42px;
	padding: 12px 10px;
	padding-left: 48px;

	color: #fff;
	line-height: 18px;
	font-size: 17px;
	vertical-align: middle;

	background-color: #293449;
	border: none;

}
.search-input:hover {
	background-color: #212A3A;
}

.search-input:hover + svg {
	opacity: 1;
}

.search-input:focus {
	background-color: #fff;
	color: #000;
}

.search-input:focus + svg {
	opacity: 1;
}

.search-input:focus + svg path {
	fill: #EE3643;
}

.search-input::-webkit-input-placeholder {
	color: #fff;
}

.shop-block {
	display: flex;
	margin: 0;
	padding: 0;

	line-height: 18px;
	font-size: 17px;
}

.shop-block a {
	display: inline-block;
	width: 150px;
	padding: 12px 10px;
	padding-left: 44px;

	line-height: 18px;
	font-size: 17px;
	vertical-align: middle;
	color: #fff;
	text-align: left;
}

.bookmarks {
	position: relative;
}

.bookmarks::before {
	content: "";

	position: absolute;
	left: 17px;
	top: 12px;

	width: 14px;
	height: 16px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

a.cart {
	position: relative;

	padding-left: 49px;
}

a.cart::before {
	content: "";

	position: absolute;
	left: 17px;
	top: 12px;

	width: 15px;
	height: 15px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.shop-block a:hover,
.shop-block a:focus {
	background-color: #212A3A;
}

.shop-block a:active {
	background-color: #161D29;
	color: rgba(255, 255, 255, 0.5);
}

.shop-block a:hover::before,
.shop-block a:focus::before {
	opacity: 1;
}

.shop-block a:active::before {
	opacity: 0.5;
}

.shop-block .contain {
	background-color: #EE3643;
	
	color: #fff;
}

.shop-block .contain:hover,
.shop-block .contain:focus {
	background-color: #CA2C37;
}

.shop-block.contain:active {
	color: rgba(255, 255, 255, 0.5);

	background-color: #BA2732;
}

.shop-block .order {
	padding-left: 10px;

	text-align: center;

	background-color: #63a63e;
}

.shop-block .order:hover,
.shop-block .order:focus {
	background-color: #5FBB2D;
}

.shop-block .order:active {
	color:rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 39px;
}

.header-description {
	display: inline-block;

	width: 310px;
	margin: 0;
	padding: 0 50px;
	padding-left: 52px;
	padding-top: 4px;

	font-size: 16px;
	line-height: 23px;
	vertical-align: baseline;
	color: #ee3643;
	font-style: italic;
}

.header-contacts {
	width: 310px;
}

.header-telephone {
	position: relative;

	display: inline-block;
	width: 270px;
	padding: 9px;
	padding-left: 76px;
	margin-bottom: 4px;

	color: #ee3643;
	text-align: left;
	line-height: 21px;
	font-size: 21px;
	vertical-align: middle;

	border: 3px solid #FFFFFF;
	background-color: #F3F7F9;
}

.header-telephone::before {
	content: "";

	position: absolute;
	left: 15px;
	top: 9px;

	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
}

.header-contacts address {
	padding-left: 14px;

	font-style: normal;
	color: #32425c;
	font-size: 14px;
	text-align: left;
	line-height: 24px;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 310px;
	margin: 0;
	padding: 0;
}

.user-button a {
	display: inline-block;
	padding: 12px 24px;

	color: #000;
	line-height: 21px;
	font-size: 21px;
	vertical-align: middle;

	background-color: #fff;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #EE3643;
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.auth .login,
.auth .registration {
	display: none;
}

.registration a {
	width: 150px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.user-navigation svg {
	position: relative;
	top: 2px;
}

.login a {
	padding-left: 14px;
}

.login svg,
.logined svg {
	margin-right: 13px;
}

.user-navigation a:hover svg path,
.user-navigation a:focus svg path {
	fill: #32425C;
}

.user-navigation a:active svg path {
	fill: #c5c5c5;
}

.user {
	display: none;
	justify-content: space-between;
	margin-bottom: 6px;
	width: 299px;

	color: #000;

	background-color: #fff;
}

.auth .user {
	display: flex;
}

.user a {
	padding: 11px 0;
	padding-left: 13px;
    padding-right: 10px;
}

.logout {
	padding: 12px 10px;

	height: 45px;
}

.logout:hover svg g,
.logout:focus svg g {
	fill: #32425C;
}

.logout:active svg g {
	fill: #c5c5c5;
}

.my-orders,
.login-account  {
	display: none;

	color: #32425C;
	font-size: 16px;
	line-height: 18px;
}

.auth .my-orders,
.auth .login-account  {
	display: block;
}

.my-orders a,
.login-account a {
	position: relative;

	padding: 0 10px;
	color: #32425C;
	text-decoration: underline;
}

.my-orders a {
	margin-right: 12px;
}

.login-account a {
	margin-right: 62px;
}

.login-account a::before {
	content: "";

	position: absolute;
	left: -8px;
	top: 5px;

	width: 6px;
	height: 7px;

	background: url("../img/sprite.png") -9px -9px no-repeat;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
    padding: 0 22px;
	width: 100%;

	color: #fff;

	border-bottom: solid 5px #293449;
	background-color: #32425c;
}

.main-navigation li {
	margin: 0;
	padding: 0;
}

.main-navigation a {
	display: block;
	color: #fff;
	padding: 19px 30px;

	letter-spacing: 0.1px;
	font-size: 17px;
	line-height: 17px;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
	position: relative;

	background-color: #293449;
}

.main-navigation a[href]:active {
	position: relative;

	color: rgba(255, 255, 255, 0.5);

	background-color: #1D2739;
	box-shadow: 0 5px #1D2739;
}

.promo-block {
	padding: 0;
	padding-top: 41px;
	padding-bottom: 53px;
}

.promo-products {
	width: 100%;
	margin: 18px 0;
	margin-bottom: 20px;
}

.promo-products ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.promo-item {
	position: relative;
	width: 300px;
    padding-top: 21px;
    padding-left: 23px;
    padding-bottom: 22px;
	background-color: #000;

	color: #FFFFFF;
	list-style: none;
}

.promo-item::before {
	content: "";

	position: absolute;
	top: 0;
	right: 0;

	background-position: center;
	background-repeat: no-repeat;
}

.promo-item.material {
	background-color: #FFBF47;
}

.promo-item.material::before {
    width: 130px;
    height: 126px;

	background-image: url("../img/icon-1.svg");
}

.promo-item.tool {
	background-color: #3BBCE3;
}

.promo-item.tool::before {
	width: 132px;
    height: 126px;

	background-image: url("../img/icon-2.svg");
}

.promo-item.technic {
	background-color: #DC91D8;
}

.promo-item.technic::before {
	width: 140px;
	height: 123px;

	background-image: url("../img/icon-3.svg");
}

.promo-item.discount {
	background-color: #8ED78F;
	align-self: flex-end;
}

.promo-item.discount::before {
	width: 150px;
    height: 126px;

	background-image: url("../img/icon-4.svg");
}

.promo-item.delivery {
	margin-bottom: 0;

	background-color: #FFC047;
}

.promo-item.delivery::before {
	width: 140px;
    height: 126px;

	background-image: url("../img/icon-5.svg");
}

.promo-item a {
	display: inline-block;
	width: 135px;
	padding: 10px;

	line-height: 18px;
	font-size: 14px;
	color: #FFFFFF;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.promo-item a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-item h3 {
	margin: 0;
	margin-bottom: 12px;
	line-height: 30px;
	font-weight: bold;
	font-size: 24px;
}

.features {
	width: 300px
}

.features ul {
	display: block;
	min-height: 266px;
	margin: 0;
	padding: 0;
}

.features li {
	margin-bottom: 20px;
}

.slider-features-block {
	display: flex;
	justify-content: space-between;
}

.slider {
	width: 620px;
	padding: 22px 25px;
	background-color: #5f413c;
	position: relative;
}

.slider-content {
	margin: 0;
	margin-bottom: 34px;
}

.slider-content	.slide {
	background-color: #9B8978;
}

.slider-content h3 {
	position: relative;
	z-index: 1;
	margin: 0;
	margin-bottom: 3px;

	color: #fff;
	line-height: 36px;
	font-size: 36px;
	text-transform: uppercase;
}

.slider-content p {
	position: relative;
	z-index: 1;

	margin: 0;

	line-height: 24px;
	font-size: 18px;
	color: #fff;
}

.slider-content img {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.buttons-next-prev {
	display: flex;
	justify-content: space-between;
	margin-bottom: 58px;
}

.slider	button {
	font-size: 0;
}

.slider	.slider-button-back,
.slider	.slider-button-next {
	width: 27px;
	height: 27px;

	background: transparent;
	border: none;
	border-left-style: solid;
	border-top-style: solid;
	border-left-color: #fff;
	border-top-color: #fff;
	border-left-width: 3px;
	border-top-width: 3px;

}

.slider	.slider-button-back:hover,
.slider	.slider-button-back:focus,
.slider	.slider-button-next:hover,
.slider	.slider-button-next:focus {
		border-left-color: #EE3643;
		border-top-color: #EE3643;
		outline: none;
		cursor: pointer;
}

.slider	.slider-button-back {
	transform: rotate(-45deg);	
	margin-left: 6px;
    margin-top: 2px;
}

.slider	.slider-button-next {
	transform: rotate(135deg);
    margin-right: 2px;
}

.catalog-indicators {
	display: flex;
}

.slider-catalog {
	position: relative;

	width: 195px;
}

.slider-indicators {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 160px;

    margin: 0 15px;
    margin-top: 14px;
	padding: 0;

	list-style: none;
}

.slider-indicators li {
	margin-right: 10px;
	margin-bottom: 10px;
}

.slider-indicators input[type="radio"] {	
	display: none;
}

.slider-indicators label {
	position: relative;

	display: block;
	padding: 0;
	width: 10px;
	height: 10px;

	background: url("../img/sprite.png") 0px 0px no-repeat;
}

.slider-indicators label:hover,
.slider-indicators label:focus {
	cursor: pointer;
}

.slide-radio:checked + label::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
	width: 6px;
	height: 6px;

	background: url("../img/sprite.png") -10px -2px no-repeat;
}

.popular-maker ul,
.catalog-list ul {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	margin-left: -20px;
	padding: 0;

	list-style: none;
	font-family: 'PT sans', arial, sans-serif;
	text-transform: none;
}

.product-item,
.maker-list-item {
	position: relative;

	width: 220px;
	margin-left: 20px;
	margin-bottom: 20px;

	border: 1px solid #EAEAEA;
}

.product-item:hover	.pruduct-buttons,
.product-item:focus	.pruduct-buttons {
	display: block;
}

.product-item:hover,
.product-item:focus {
	box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
	border-color: #fff;
}

.product-item img {
	display: block;
	width: 218px;
	height: 170px;

	background-color: #035b7d;
}

.product-item:hover img,
.product-item:focus img {
	opacity: 0;
}

.catalog-page .product-list {
	margin-bottom: 32px;
}

.product-list h3 {
	margin: 11px;
	padding: 0 10px;

	text-align: center;
	font-size: 18px;
	line-height: 20px;
}

.price-block {
	padding: 0 36px;

	vertical-align: baseline;
	text-transform: uppercase;
}

.price-block span {
	display: inline-block;
	width: 100%;

	text-align: center;
	font-size: 17px;
	line-height: 18px;
	vertical-align: baseline;
}

.old-price {
	text-decoration: line-through;
	color: #a9a9a9;
}

span.price {
	position: relative;

	width: 124px;
	margin: 8px auto;
	margin-bottom: 20px;
	margin-left: 6px;
	padding: 12px 0;
    padding-bottom: 8px;
	padding-left: 36px;

	color: #fff;
	text-align: left;

	background-color: #EE3643;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.price::after {
	content: "";

	position: absolute;
	right: -36px;
	top: 0;

	width: 0;
	height: 0;

	border-width: 19px;
	border-left-color: #EE3643;
	border-style: solid;
}	

.pruduct-buttons {
	position: absolute;
	top: 0;

	display: none;
	padding: 42px;

	font-family: 'Cuprum', arial, sans-serif;
	text-align: center;
}

.button-buy,
.button-favorite {
	display: inline-block;
	width: 135px;
	padding-bottom: 7px;
	padding-left: 48px;

	vertical-align: middle;
	text-align: left;
}

.button-buy {
	position: relative;

	background-color: #63A63E;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 3px solid #367315;
}

.button-buy:hover {
	background-color: #5FBB2D;
}

.button-buy:active {
	background-color: #518534;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom: 3px solid #518534;
}

.button-buy::before {
	content: "";

	position: absolute;
	left: 12px;

	width: 15px;
	height: 15px;

	background-image: url("../img/icon-cart.svg");
	background-size: 15px;
	opacity: 0.3;
}

.button-favorite {
	margin-top: 10px;
	padding: 6px;
	padding-left: 32px;

	font-size: 14px;
	color: #32425C;
	line-height: 18px;
	text-transform: uppercase;

	border: solid 3px #63A63E;
}

.button-favorite:hover,
.button-favorite:active {
	border-color: #32425C;
}

.button-favorite:active {
	opacity: 0.3;
}

.product-item img {
	width: 218px;
	height: 170px;
}

.popular-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 21px;
	padding: 25px 24px;
	padding-left: 28px;

	color: #32425C;
	text-transform: uppercase;

	background-color: #f9f5f0;
}

.popular-header	h2 {
	padding: 0;
	margin: 0;
	margin-top: 5px;
	width: 596px;

	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
}

.popular-header	.button {
	width: 253px;
}

.popular-maker {
	margin-bottom: 65px;
}
.popular-maker .popular-header {
    padding-top: 26px;
}

.maker-list-item a {
	position: relative;
	display: block;

	height: 143px;
}

.popular-maker img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin: auto;

	background-color: #FF1E20;
}

.bosch img {
	margin-top: 52px;
}

.makita img {
	margin-top: 49px;
    margin-left: 47px;
}

.dewalt img {
	margin-top: 47px;
}

.interkom img {
	margin-top: 20px;
    margin-left: 8px;
}

.hitachi img {
	margin-top: 57px;
    margin-left: 27px;
}

.lg img {
	margin-top: 34px;
    margin-left: 47px;
}

.aeg img {
    margin-top: 22px;
}

.metabo img {
    margin-top: 33px;
    margin-left: 9px;
}

.maker-list-item:hover,
.maker-list-item:focus {
	box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.maker-list-item:active {
	box-shadow: 0 4px 10px 0 rgba(41,52,73,0.50);
	opacity: 0.5;
}

.services {
	padding-top: 59px;

	color: #000;

	background-image: url("../img/background-services.jpg");
	background-color: #f3f8fb;
	background-repeat: repeat;
}

.services h2 {
	margin: 0;
    margin-top: 5px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.services p {
	margin: 0;
    margin-bottom: 20px;

	font-family: 'PT sans', arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	vertical-align: baseline;
}

p.services-description {
	width: 400px;
	margin-top: 27px;
	margin-bottom: 20px;	
}

.services-slider {
	display: flex;
	justify-content: space-between;
}

.services h3 {
	margin:0;
	padding:0;
    margin-bottom: 27px;

	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425C;
	font-weight: normal;
}

.service-list {
	position: relative;

	margin: 0;
	margin-bottom: 54px;
	padding: 0;
	padding-top: 49px;
	padding-bottom: 44px;
	min-height: 249px;
}

.service-list::after {
	content: "";

	position: absolute;
	top: 0;
	right: 0;

	width: 10px;
	height: 279px;

	background-image: url("../img/services-shadow.png");
	background-repeat: no-repeat;
}

.service-list a {
	display: block;
	width: 240px;
	padding-top: 14px;
    padding-bottom: 18px;
	padding-left: 22px;

	text-align: left;
	font-size: 21px;
	line-height: 30px;
	color: #fff;

	background-color: #32425C;
}

.service-list a[href]:hover,
.service-list a[href]:focus {
	background-color: #293449;
}

.service-list a[href]:active, 
.service-list .current {
	color: #32425C;

	background-color: #fff;
}

.services-content {
	position: relative;

	width: 630px;
	margin: 0;
	padding: 0;
	padding-left: 10px;

	list-style: none;
}

.services-content li {
	   padding-top: 46px;
}

.services-content span {
	display: block;
}

.services-content p {
	position: relative;
	z-index: 1;

	width: 314px;
}

.services img {
	position: absolute;
	bottom: 0;
	right: 0
}


.send-request {
	background-color: #FF5357;
}

.company-contacts {
	display: flex;
	padding-top: 79px;
	padding-bottom: 86px;
	justify-content: space-between;
}

.company-contacts h2 {
	margin: 0;
	margin-bottom: 26px;

	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.company-contacts .company-description {
	font-family: 'PT sans', arial, sans-serif;
	line-height: 24px;
	font-size: 13px;
}

.about-company {
	width: 513px;
}

.about-company .company-description {
	margin-bottom: 20px;
	width: 520px;

    letter-spacing: 0.1px;
}

.about-company p {
	width: 400px;
    margin: 0;
    margin-top: 24px;

    letter-spacing: 0px;
}

.about-company ul {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;

	list-style: none;
	font-size: 18px;
	line-height: 19px;
}

.about-company li {
	position: relative;

	margin-bottom: 21px;
	padding-left: 36px;
}

.about-company li::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	width: 25px;
	height: 2px;
	margin: auto;

	background-color: #EE3643;
}

.about-company .button {
	width: 220px;
}

.index-contacts  {
	width: 300px;
}

.index-contacts .company-description {
	width: 180px;
	margin-bottom: 31px;
}

.index-contacts img {
	margin-bottom: 36px;
}

.index-contacts .button {
	width: 100%;
}

.catalog-page {
	font-family: 'PT sans', arial, sans-serif;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	padding: 0;
	padding-right: 10px;
	margin: 0;

	list-style: none;
}

.breadcrumbs {
	padding: 20px 0;
	margin-left: -20px;
}

.breadcrumbs .home {
	display: block;
	width: 14px;
	height: 12px;
	margin-top: 3px;

	background-image: url("../img/icon-home.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.breadcrumbs li {
	position: relative;

	margin: 0 20px;
	vertical-align: middle;

	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs li:not(:last-child)::after {
	position: absolute;
	content: "";
	top: 2px;
    right: -26px;

	width: 8px;
	height: 12px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.breadcrumbs li:first-child::after {
    right: -22px;
}

.breadcrumbs li:last-child {
	margin: 0 23px;
}

.breadcrumbs a {
	color: #000;
	letter-spacing: 0.1px;
}

.catalog-page h1 {
	display: block;
	padding: 30px 28px;
	margin: 0;
	margin-bottom: 20px;

	font-family: 'Cuprum', arial, sans-serif;	
	color: #32425C;
	line-height: 30px;  
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;

	background-color: #F2F6F8;
}

.catalog-page h2 {
	font-family: 'PT sans', arial, sans-serif;
}

.catalog-filter-cover {
	display: flex;
	justify-content: space-between;

	text-transform: uppercase;
}

.filter-products h2,
.catalog-sort {
	padding: 10px 15px;
	padding-left: 18px;
	margin: 0;


	line-height: 18px;
	font-size: 13px;
	color: #000;
	text-transform: uppercase;
	font-weight: normal;
	vertical-align: middle;
	letter-spacing: 0.2px;

	background-color: #F7F3EC;
	border-radius: 4px;
}

.filter-products {
	width: 220px;
}

.filter-products h2 {
	margin-bottom: 18px;
}

.filter-products fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 22px;

	border:none;
	border-bottom: 1px solid #E5E5E5;
}

fieldset.filter-price {
    padding-bottom: 9px;

    letter-spacing: 0.6px;
}

fieldset.filter-maker {
	margin-bottom: 26px;

	letter-spacing: 0.6px;
}

fieldset.filter-power {
	margin-bottom: 58px;

	letter-spacing: 1.2px;
	border: none;
}

.filter-products legend {
	font-weight: bold;
	margin-bottom: 19px;
}

.filter-power legend {
	margin-bottom: 20px;
}

.filter-price-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	margin-bottom: 18px;
}

.range-controls {
	position: relative;

	margin-bottom: 8px;

	width: 100%;
	height: 80px;

	background-color: #F7F3EC;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.range-controls .scale {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;	
	margin: 0 auto;

	height: 2px;
	width: 180px;
	background: #D7DCDE;
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #00CA74;
}

.range-toggle {
	content: "";
	box-sizing: content-box;

	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	border: 8px solid #ffffff;
	border-radius: 50%;
	background: #ABABAB;
	box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.filter-price-block span {
	display: block;
	margin: 0 2px;

	font-size: 16px;
	line-height: 18px;
}

.filter-price-block input[type="number"] {
	position: relative;

	display: block;
	width: 95px;
	margin: 0;
	padding: 10px;

	text-align: center;

	border: none;
	border-radius: 4px;
	background-color: #F7F3EC;
}

.filter-price-block input[type="number"]::-webkit-outer-spin-button,
.filter-price-block input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.filter-price-block input[type='number'] {
    -moz-appearance: textfield;
}

.filter-products label {
	position: relative;

	display: block;
	width: 100%;
	margin-bottom: 21px;
	padding-left: 34px;

    letter-spacing: 0.2px;
	line-height: 19px;
	font-size: 15px;
}

.filter-products label:not(.filter-price)::before {
	content: "";

	position: absolute;
	left: 0;

	background-repeat:no-repeat;
	background-size: contain;
}

.filter-checkbox + label::before {
	top: -2px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:not(:disabled) + label:hover::before,
.filter-checkbox:not(:disabled) + label:focus::before {
	background-image: url("../img/checkbox-off-hover.svg");
}

.filter-checkbox:checked + label::before {
	width: 27px; 

	background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:not(:disabled):checked + label:hover::before,
.filter-checkbox:not(:disabled):checked + label:focus::before {
	background-image: url("../img/checkbox-on-hover.svg");
}

.filter-radio + label::before {
	top: -4px;

	width: 25px;
	height: 25px;

	background-image: url("../img/radio-off.svg");
}

.filter-radio:not(:disabled) + label:hover::before,
.filter-radio:not(:disabled) + label:focus::before {
	background-image: url("../img/radio-off-hover.svg");
}

.filter-radio:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.filter-radio:not(:disabled):checked + label:hover::before,
.filter-radio:not(:disabled):checked + label:focus::before {
	background-image: url("../img/radio-on-hover.svg");
}

.filter-checkbox:disabled + label,
.filter-radio:disabled + label {
	color: rgba(0, 0, 0, 0.4);
} 

.filter-checkbox:disabled + label::before,
.filter-radio:disabled + label::before {
	opacity: 0.3;
} 

.filter-button {
	width: 140px;
	padding: 9px 0;

	text-transform: uppercase;
	line-height: 18px;
	font-size: 13px;

	border: 1px solid #E5E5E5;
}

.filter-button:hover,
.filter-button:focus {
	border-color: #BDC6CA;
}

.filter-button:active {
	border-color: #EE3643;
}

.catalog {
	width: 700px;
}

.catalog-sort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.catalog-sort h2 {
	width: 202px;
	margin: 0;
	padding: 0;

	font-size: 13px;
	font-weight: normal;
}

.sort-type {
	display: flex;
	justify-content: space-between;
	width: 400px;
	padding:0 10px;
	padding-right: 36px;
}

.sort-type a {
	position: relative;

	display: inline-block;

	vertical-align: middle;
	color: rgba(0, 0, 0, 0.3);
}

.sort-type a[href]:hover,
.sort-type a[href]:focus {
	color:#000;
}

.sort-type a[href]:active {
	color: #EE3643;
}

.sort-type a[href]::after {
	content: "";

	position: absolute;
	bottom: 1px;
	left: 0;

	width: 100%;

	border-bottom: #EE3643 dashed 1px;
}

.sort-type a[href]:hover::after,
.sort-type a[href]:focus::after  {
	border-bottom-style: solid;
}

.sort-type a[href]:active::after {
	border: none;
}

.sort-type .current {
	color: #EE3643;
}

.sort-order {
	display: flex;
	justify-content: space-between;
	width: 44px;
	margin: auto 0;
}

.sort-order a {
	height: 10px; 

	color: transparent;
	vertical-align: middle;

	border-right-width: 5px;
	border-left-width: 5px;
	border-style: solid;
}

.sort-asc {
	border-top-width: 0;
	border-bottom-width: 10px;
	border-bottom-color: #C5C5C5;
}

.sort-asc:hover,
.sort-asc:focus {
	border-bottom-color: #000;	
}

.sort-asc.current,
.sort-asc:active {
	border-bottom-color: #EE3643;	
}

.sort-desc {
	border-top-width: 10px;
	border-bottom-width: 0;
	border-top-color: #C5C5C5;
}

.sort-desc:hover,
.sort-desc:focus {
	border-top-color: #000;	
}

.sort-desc.current,
.sort-desc:active {
	border-top-color: #EE3643;	
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-left: -10px;
	margin-bottom: 50px;

	list-style: none;
	font-size: 13px;
	line-height: 18px;
}

.pagination a {
	display: inline-block;
	padding: 9px;
	margin-left: 10px;
	margin-bottom: 10px;

	color: #000;
	text-align: center;
	vertical-align: middle;

	border: 1px solid #E5E5E5;
}

.pagination a[href]:hover,
.pagination a[href]:focus {
	border-color: #BDC6CA;	
}

.pagination a[href]:active {
	border-color: #EE3643;	
}

.pagination a:not(.pagination-next) {
	width: 38px;
}

.pagination-next {
	width: 140px;
}

a.pagination-current {
	color: #fff;

	background-color: #EE3643;
	border-radius: 4px;
	border-color: #EE3643;
}

.category-about {
	padding-bottom: 68px;
	padding-top: 65px;

	color: #000;
	letter-spacing: 0.14px;

	background-color: #F2F6F8;
}

.category-about h2 {
	margin: 0;
	margin-bottom: 26px;

    font-family: 'Cuprum', arial, sans-serif;
	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.category-about p {
	margin: 0;

	line-height: 24px;
	font-size: 13px;
}

.category-about p:first-of-type {
	letter-spacing: 0;
}

.footer-company-info ul {
	padding: 0;

	list-style: none;
}

.footer-company-info {
	padding-bottom: 50px;

	color: #F3F7F9;

	background-color: #32425C;
}

.footer-company-info .container {
	display: flex;
	justify-content: space-between;
}

.footer-logo-contacts {
	font-size: 18px;
	line-height: 24px;
}

.footer-logo {
	position: relative;

	width: 220px;
	height: 63px;
	margin: 0;
	margin-bottom: 32px;
}

.footer-logo img {
	width: 136px;
	height: 22px;
}

.footer-logo-contacts address {
	display: block;
	margin-left: 3px;

	font-style: normal;
}

.footer-logo-contacts .footer-telephone {
	margin: 0;
	margin-left: 3px;
	
	color: #fff;
}

.footer-menu {
	width: 550px;
}

.footer-menu ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.footer-menu li {
	font-size: 18px;
	line-height: 24px;
}

.footer-menu li:not(:first-child) {
	margin-left: 59px;
}

.footer-menu a:hover,
.footer-menu a:focus {
	text-decoration: underline;
}
.footer-main-menu {
	margin-top: 38px;
	margin-bottom: 34px;
}

.footer-main-menu a {
	color: #F3F7F9;
}

.footer-main-menu a:active {
	color: rgba(243, 247, 249, 0.5);
}

.footer-sub-menu a {
	color: #FFD180;
}

.footer-sub-menu a:active {
	color: rgba(255, 209, 128, 0.5);
}

.footer-links {
	padding-top: 37px;
	padding-bottom: 29px;

	color: #fff;

	background-color: #293449;
}

.footer-links .container {
	display: flex;
	justify-content: space-between;
}

.footer-links li {
	line-height: 18px;
	font-size: 16px
}

.footer-links a {
	display: block;

	color: #FFD180;
	text-align: left;
}

.footer-links a:hover,
.footer-links a:focus {
	text-decoration: underline;
}

.footer-links a:active {
	color: #EE3643;
}

.footer-copyright {
	width: 291px;
	padding: 0;
	padding-right: 10px;

	font-size: 16px;
	line-height: 18px;
}

.social-links {
	box-sizing: content-box;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 380px;
	margin: 0;
	padding: 0 10px;

	list-style: none;
}

.social-links li {
    margin: 0;
    padding: 0 2px;
}

.social-links a {
	position: relative;

	width: 41px;
	height: 41px;

	background-color: #212A3A;
	border-radius: 50%;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
	background-color: #EE3643;
}

.social-links a::before {
	content: "";

	position: absolute;
	top: -4px;
	bottom: 0;
	left: 0;
	right: 0;

	max-width: 30px;
	max-height: 30px;
	margin: auto;

	background-position: center;
	background-size: contain;
}

.social-links .vk::before {
	width: 26px;
	height: 15px;

	background-image: url("../img/icon-vk.svg");
	background-repeat: no-repeat;
}

.social-links .facebook::before {
	width: 12px;
	height: 22px;

	background-image: url("../img/icon-fb.svg");
	background-repeat: no-repeat;
}

.social-links .instagram::before {
	width: 21px;
	height: 21px;

	background-image: url("../img/icon-insta.svg");
	background-repeat: no-repeat;
}

.feedback,
.development {
	width: 160px;
	margin: 0;
	padding: 0;
}

.development {
	padding-left: 38px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;

	width: 620px;
	margin-left: -310px;

	color: #000;

	background-color: #fff;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
	border-top: 7px solid #EE3643;
}

.modal-message {
	display: none;
	margin-top: -230px;
}

.modal-cart-add {
	display: none;
	margin-top: -141px;
}

.modal-show {
	display: block;

	animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
	position: absolute;
	top: 7px;
	right: 9px;

	width: 21px;
	height: 21px;

	font-size: 0;

	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 9px;
	right: 0px;

	width: 21px;
	height: 3px;

	background-color: #EE3643;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-cart-add h2 {
	position: relative;

	display: block;
	margin: 0;
	margin: 48px 80px;
	margin-left: 178px;
	padding: 15px 0;

	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

.modal-cart-add h2::after {
	content: "";
	position: absolute;
	left: -98px;
	top: 0;

	width: 66px;
	height: 66px;

	background-image: url("../img/icon-mark.svg");
}

.modal-buttons {
	display: flex;
	justify-content: space-around;
	padding: 37px 80px;

	color: #000;

	background-color: #F4F4F4;
}

.modal-buttons a {
	width: 220px;
}

.back-shop {
	color: #000;

	background-color: #fff;
}

.back-shop:hover,
.back-shop:focus {
	color: #EE3643;

	background-color: #fff;
}

.back-shop:active {
	color: rgba(0, 0, 0, 0.3);
}

.modal-message .button {
	width: 100%;
}

.modal-fields {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 37px 80px;
	padding-top: 49px;
}

.modal-fields p {
	margin: 0;
}

.modal-fields p:not(:last-child) {
	width: 220px;
	margin-bottom: 18px;
}

.modal-fields p:last-child {
	width: 100%;
}

.modal-fields label {
	display: block;
	padding-bottom: 6px;

	line-height: 18px;
	font-size: 18px;
}

.modal-field {
	display: block;
	width: 100%;
	padding:8px 14px;

	line-height: 18px;
	font-size: 13px;

	border: 2px solid #DEE3E4;
}

.modal-field:hover {
	border-color: #B5B5B5;
}

.modal-field:focus{
	border-color: #EE3643;
}

.modal-field::-webkit-input-placeholder {
	color: #A9A9A9;
}

.modal-fields textarea {
	min-height: 114px;
}